.new_nav {
  width: 100%;
  min-height: 5vh;
  background-color: rgb(86, 86, 86);
}

.nav_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left_data {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.left_data p {
  margin: 0 15px;
  color: white;
}

.right_data {
  display: flex;
  align-items: center;
  justify-content: center;
}
